.map-container {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.custom-div-icon,
.leaflet-marker-icon.custom-div-icon {
  min-width: 60px;
  max-width: 220px;
  width: auto !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  box-shadow: none;
}

.label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 220px;
} 